<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= kindOfDay %> List</h1>
    <ul>
      <% newItem.forEach(item => { %>
      <li><%= item.name %></li>
      <% }); %>
    </ul>

    <form action="/" method="post">
      <input type="text" name="todo" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
